body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    width: 1600px;
    height: 2349px;
    margin: 0 auto;
}
/* Header */
.header ul {
    display: inline-block;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu a {
    text-emphasis: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding: 32px;
}
.menu li {
    display: inline-block;
}
.logo {
    margin-left: 215px;
    margin-top: 25px;
    margin-right: 93px;
}
.studio {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.number {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.mail {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #2196F3;
}
/* main */
.main_content {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    margin-left: 452px;
    margin-right: 452px;
}
.button_style {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-left: 700px;
}
/* наши принципы */
.we_are1,
.we_are2,
.we_are3,
.we_are4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block
}
.we_are1 {
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
    margin-left: 215px;
    margin-top: 94px;
    margin-right: 30px;
    margin-bottom: 94px;
}
.we_are2 {
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
    margin-right: 30px;
}
.we_are3 {
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
    margin-right: 30px;
}
.we_are4 {
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}
.we_are_list {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.we_are_discr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
/* о нас */
.about {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.pic1,
.pic2,
.pic3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block
}
.pic1 {
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    margin-right: 30px;
    margin-left: 215px;
}
.pic2 {
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
    margin-right: 30px;
    margin-bottom: 94px;
}
.pic3 {
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
}
/* команда */
.team{
    background: #F5F4FA;
    padding-top: 94px;
}
.m1,
.m2,
.m3,
.m4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    
}
    
.m1 {
width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    margin-right: 30px;
    margin-left: 215px;
    margin-bottom: 94px;
}
.m2 {
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
    margin-right: 30px;
}
.m3 {
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;
    margin-right: 30px;
}
.m4 {
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
}